<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="index.html"style="color:white">
      <img src="assets/img/user.png" width="30" height="30" class="d-inline-block align-top">
      Semillero de seguridad
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="pages/event_registration.html" style="color:white">Eventos</a>
          <a class="nav-item nav-link" href="pages/members.html" style="color:white">Integrates</a>
          <a class="nav-item nav-link" href="pages/AboutUs.html" tabindex="-1" aria-disabled="true" style="color:white">¿Quienes somos?</a>
      </div>
  </div>
</nav>
