/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

nav a{
  color: #fafafa;
}

body{
  background: #ecf0f1;
  font-family: sans-serif;
  padding-top: 0px;
  transform: padding-top 0.5s ease;
}

h2{
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2;
  color: #2c3e50;
}

p{
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}

.wrapper{
  max-width: 1400px;
  margin:0 auto;
}

section{
  margin: 10px;
  padding: 20px;
  background: white;
  border: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
